<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column is-one-third">নাম : </div>
                <div class="column">{{ request.POST.name }}</div>
            </div>
                <div class="columns">
                <div class="column is-one-third">ইমেইল : </div>
                <div class="column">{{ request.POST.email }}</div>
            </div>

            <div class="columns">
                    <div class="column is-one-third">মোবাইল নম্বর : </div>

                <div class="column">{{ request.POST.phone}}</div>
            </div>
        </div>
    </div>
</div>